body {
    margin: 0;
    box-sizing: border-box;
    background: rgb(9, 43, 84);
}

@font-face {
   font-family: myFirstFont;
   src: url(/CursedTimerUlil-Aznm.ttf);
}


.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #EEEEEE;
}
.pp{
    height:120px;
    width: 155px;
    padding: auto 27px;
    border: 1px solid black;
    background-color: #080001;
    border-radius: 5px;
    font-family: myFirstFont;
    font-size: 90px;
    font-weight: 700px;
    line-height: 1px;
    padding-bottom: 30px;
    gap: 0px;
    opacity: 0px;
    color: red;
    box-sizing: content-box;

    
}
button{
    border: 1px solid #9AABD8;
    padding: 5px;
    color: #9AABD8;
    font-family: myFirstFont;
    background-color:rgb(9, 43, 84); ;
}
.increase{
    padding-top: 30px;
}
footer{
    position: absolute;
    bottom: 50px;
}